<div class="spacer"></div>
<h1 data-translate="login.title"></h1>
<form name="login" data-view="login">
    <div class="title spacer">
        <strong data-translate="users.username.title"></strong>
    </div>
    <div class="spacer">
        <input type="text" name="username" class="form-control" required>
    </div>

    <div class="title spacer">
        <strong data-translate="users.password.title"></strong>
    </div>
    <div class="spacer">
        <input type="password" name="password" class="form-control">
    </div>

    <div class="title spacer">
        <strong data-translate="login.remember"></strong>
    </div>
    <div class="spacer">
        <select name="remember" class="selectpicker">
            <option value="yes" data-translate="yes"></option>
            <option value="no" data-translate="no"></option>
        </select>
    </div>

    <span data-name="login" data-translate="submit" class="btn btn-default btn-info submit-form"></span>
</form>