<h1 data-translate="servers.title"></h1>
<form name="servers" method="post" action="">
    <div class="title spacer">
        <strong data-translate="servers.game.title"></strong>
        <small data-translate="servers.game.info"></small>
    </div>
    <div class="spacer">
        <select name="game" class="selectpicker" required>
            <option value=""></option>
            <option value="rust">Rust</option>
            <option value="csgo">CS:GO</option>
            <option value="minecraft">Minecraft</option>
            <option value="other" data-translate="servers.game.other"></option>
        </select>
    </div>
    <div class="title spacer">
        <strong data-translate="servers.name.title"></strong>
        <small data-translate="servers.name.info"></small>
    </div>
    <div class="spacer">
        <input type="text" placeholder="" name="name" class="form-control" required>
    </div>
    <div class="title spacer">
        <strong data-translate="servers.host.title"></strong>
        <small data-translate="servers.host.info"></small>
    </div>
    <div class="spacer">
        <input type="text" placeholder="" name="host" class="form-control" required>
    </div>

    <div class="title spacer">
        <strong data-translate="servers.rcon_port.title"></strong>
        <small data-translate="servers.rcon_port.info"></small>
    </div>
    <div class="spacer">
        <input type="number" placeholder="28016" size="5" name="rcon_port" class="form-control" required>
    </div>

    <div class="title spacer">
        <strong data-translate="servers.rcon_password.title"></strong>
        <small data-translate="servers.rcon_password.info"></small>
    </div>
    <div class="spacer">
        <input type="password" name="rcon_password" class="form-control" required>
    </div>

    <div class="title spacer">
        <strong data-translate="servers.users.title"></strong>
        <small data-translate="servers.users.info"></small>
    </div>
    <div class="spacer">
        <select name="users" class="selectpicker" multiple>
        </select>
    </div>

    <div class="title spacer">
        <strong data-translate="servers.webrcon.title"></strong>
        <small data-translate="servers.webrcon.info"></small>
    </div>
    <div class="spacer">
        <select name="web" class="selectpicker">
            <option value="no" data-translate="no"></option>
            <option value="yes" data-translate="yes"></option>
        </select>
    </div>

    <div class="title spacer">
        <strong data-translate="servers.active.title"></strong>
        <small data-translate="servers.active.info"></small>
    </div>
    <div class="spacer">
        <select name="active" class="selectpicker">
            <option value="yes" data-translate="yes"></option>
            <option value="no" data-translate="no"></option>
        </select>
    </div>

    <span data-name="save" data-translate="save" class="btn btn-default btn-info submit-form save"></span>
    <span data-name="delete" data-translate="delete" class="btn btn-danger btn-info submit-form hidden delete"></span>
    <a href="#servers" class="btn page-link cancel hidden" data-translate="cancel"></a>
</form>

<div class="spacer"></div>

<table class="table table-bordered table-striped data-table">
    <thead>
    <tr>
        <th data-translate="servers.game.title"></th>
        <th data-translate="servers.name.title"></th>
        <th data-translate="servers.rcon_port.title"></th>
        <th data-translate="servers.active.title"></th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    </tbody>
</table>