<h1 data-translate="widgets.title"></h1>
<h2 data-translate="widgets.installed"></h2>
<div class="widgets-installed">
    <div class="hidden widget-row">
        <div class="title spacer">
            <strong></strong>
            <small></small>
            <div class="games"><span data-translate="widgets.games"></span>: <span class="text"></span></div>
            <div class="spacer"></div>
            <div class="actions">
                <a class="btn btn-primary btn-sm github" target="_blank">Github</a>
                <span class="btn btn-info btn-sm update"></span>
            </div>
        </div>
    </div>
</div>

<h2 data-translate="widgets.install"></h2>
<p data-translate="widgets.install.info"></p>
<input type="text" class="form-control widget-url" required><br/>
<span class="btn btn-info install" data-translate="widgets.install.btn"></span>