body {
    position: relative;
    overflow-x: hidden;
}

body,
html {
    height: 100%;
}

a, a:hover, a:active,
.navbar-inverse .btn-link:hover, .navbar-inverse .btn-link:focus {
    color: #35acdf;
}

.nav .show-dismissable {
    white-space: normal;
    opacity: 0.5
}

.nav .open > a,
.nav .open > a:hover,
.nav .open > a:focus {
    background-color: transparent;
}

.dismissable {
    display: none;
}

.dismissable.visible {
    display: block;
}

/*-------------------------------*/
/*           Wrappers            */
/*-------------------------------*/

#sidebar-wrapper {
    z-index: 1000;
    left: 220px;
    width: 0;
    height: 100%;
    margin-left: -220px;
    overflow-y: auto;
    overflow-x: hidden;
    background: #1a1a1a;
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease;
}

#sidebar-wrapper::-webkit-scrollbar {
    display: none;
}

#wrapper.toggled #sidebar-wrapper {
    width: 220px;
}

#page-content-wrapper {
    width: 100%;
    left: 0;
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
}

/*-------------------------------*/
/*     Sidebar nav styles        */
/*-------------------------------*/

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 220px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    position: relative;
    line-height: 20px;
    display: inline-block;
    width: 100%;
}

.sidebar-nav li:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    height: 100%;
    width: 3px;
    background-color: #1c1c1c;
    -webkit-transition: width .2s ease-in;
    -moz-transition: width .2s ease-in;
    transition: width .2s ease-in;

}

.sidebar-nav li:first-child a {
    color: #fff;
    background-color: #1a1a1a;
}

.sidebar-nav li:nth-child(2):before {
    background-color: #ec1b5a;
}

.sidebar-nav li:nth-child(3):before {
    background-color: #79aefe;
}

.sidebar-nav li:nth-child(4):before {
    background-color: #314190;
}

.sidebar-nav li:nth-child(5):before {
    background-color: #279636;
}

.sidebar-nav li:nth-child(6):before {
    background-color: #7d5d81;
}

.sidebar-nav li:nth-child(7):before {
    background-color: #ead24c;
}

.sidebar-nav li:nth-child(8):before {
    background-color: #2d2366;
}

.sidebar-nav li:nth-child(9):before {
    background-color: #35acdf;
}

.sidebar-nav li:hover:before,
.sidebar-nav li.open:hover:before {
    width: 100%;
    -webkit-transition: width .2s ease-in;
    -moz-transition: width .2s ease-in;
    transition: width .2s ease-in;

}

.sidebar-nav li a {
    display: block;
    color: #ddd;
    text-decoration: none;
    padding: 10px 15px 10px 30px;
}

.sidebar-nav li a:hover,
.sidebar-nav li a:active,
.sidebar-nav li a:focus,
.sidebar-nav li.open a:hover,
.sidebar-nav li.open a:active,
.sidebar-nav li.open a:focus {
    color: #fff;
    text-decoration: none;
    background-color: transparent;
}

.sidebar-nav > .sidebar-brand {
    font-size: 20px;
    line-height: 44px;
}

.sidebar-nav > .sidebar-brand img {
    width: 100%;
}

.sidebar-nav > .sidebar-brand div {
    padding: 25px 0;
}

.sidebar-nav .dropdown-menu {
    position: relative;
    width: 100%;
    padding: 0;
    margin: 0;
    border-radius: 0;
    border: none;
    background-color: #222;
    box-shadow: none;
}

/*-------------------------------*/
/*       Hamburger-Cross         */
/*-------------------------------*/

.hamburger {
    position: fixed;
    top: 20px;
    z-index: 999;
    display: block;
    width: 32px;
    height: 32px;
    margin-left: 15px;
    background: transparent;
    border: none;
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    transition: all .2s ease;
}

#wrapper.toggled .hamburger {
    margin-left: 230px;
}

.hamburger:hover,
.hamburger:focus,
.hamburger:active {
    outline: none;
}

.hamburger.is-closed:before {
    content: '';
    display: block;
    width: 100px;
    font-size: 14px;
    color: #fff;
    line-height: 32px;
    text-align: center;
    opacity: 0;
    -webkit-transform: translate3d(0, 0, 0);
    -webkit-transition: all .35s ease-in-out;
}

.hamburger.is-closed:hover:before {
    opacity: 1;
    display: block;
    -webkit-transform: translate3d(-100px, 0, 0);
    -webkit-transition: all .35s ease-in-out;
}

.hamburger.is-closed .hamb-top,
.hamburger.is-closed .hamb-middle,
.hamburger.is-closed .hamb-bottom,
.hamburger.is-open .hamb-top,
.hamburger.is-open .hamb-middle,
.hamburger.is-open .hamb-bottom {
    position: absolute;
    left: 0;
    height: 4px;
    width: 100%;
}

.hamburger.is-closed .hamb-top,
.hamburger.is-closed .hamb-middle,
.hamburger.is-closed .hamb-bottom {
    background-color: white;
}

.hamburger.is-closed .hamb-top {
    top: 5px;
    -webkit-transition: all .35s ease-in-out;
}

.hamburger.is-closed .hamb-middle {
    top: 50%;
    margin-top: -2px;
}

.hamburger.is-closed .hamb-bottom {
    bottom: 5px;
    -webkit-transition: all .35s ease-in-out;
}

.hamburger.is-closed:hover .hamb-top {
    top: 0;
    -webkit-transition: all .35s ease-in-out;
}

.hamburger.is-closed:hover .hamb-bottom {
    bottom: 0;
    -webkit-transition: all .35s ease-in-out;
}

.hamburger.is-open .hamb-top,
.hamburger.is-open .hamb-middle,
.hamburger.is-open .hamb-bottom {
    background-color: white;
}

.hamburger.is-open .hamb-top,
.hamburger.is-open .hamb-bottom {
    top: 50%;
    margin-top: -2px;
}

.hamburger.is-open .hamb-top {
    -webkit-transform: rotate(45deg);
    -webkit-transition: -webkit-transform .2s cubic-bezier(.73, 1, .28, .08);
}

.hamburger.is-open .hamb-middle {
    display: none;
}

.hamburger.is-open .hamb-bottom {
    -webkit-transform: rotate(-45deg);
    -webkit-transition: -webkit-transform .2s cubic-bezier(.73, 1, .28, .08);
}

.hamburger.is-open:before {
    content: '';
    display: block;
    width: 100px;
    font-size: 14px;
    color: #fff;
    line-height: 32px;
    text-align: center;
    opacity: 0;
    -webkit-transform: translate3d(0, 0, 0);
    -webkit-transition: all .35s ease-in-out;
}

.hamburger.is-open:hover:before {
    opacity: 1;
    display: block;
    -webkit-transform: translate3d(-100px, 0, 0);
    -webkit-transition: all .35s ease-in-out;
}

/*-------------------------------*/
/*            Overlay            */
/*-------------------------------*/

.overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .8);
    z-index: 3;
}

.bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
    width: auto;
}

h1 {
    color: white;
    border-left: 2px solid #79aefe;
    padding-left: 20px;
}

h2 {
    font-size: 24px;
    border-left: 2px solid #6cd4fe;
    color: #a7a7a7;
    padding-left: 20px;
}

h2.collapsable-trigger {
    border-left: 0;
    padding-left: 0;
}

.title {
    border-left: 2px solid #5a9031;
    padding-left: 20px;
}

.spacer {
    margin-bottom: 15px;
}

.note {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
    cursor: default;
    border-radius: 3px;
}

.hidden {
    display: none;
}

/*
 SPINNER
 */
.spinner {
    margin: 100px auto 0;
    width: 70px;
    text-align: center;
}

.spinner > div {
    width: 18px;
    height: 18px;
    background-color: #ffffff;
    border-radius: 100%;
    display: inline-block;
    -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
    animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
}

.spinner .bounce2 {
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
    0%, 80%, 100% {
        -webkit-transform: scale(0)
    }
    40% {
        -webkit-transform: scale(1.0)
    }
}

@keyframes sk-bouncedelay {
    0%, 80%, 100% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    40% {
        -webkit-transform: scale(1.0);
        transform: scale(1.0);
    }
}

.page-content {
    padding-top: 90px;
    padding-bottom: 50px;
}

.top-logo {
    white-space: nowrap;
    font-size: 85%;
    position: absolute;
    right: 15px;
    top: 20px;
}

.top-logo a.github {
    display: inline-block;
    background: black;
    border-radius: 5px;
    padding: 5px;
    opacity: 0.4;
}

.top-logo a.github:hover {
    opacity: 1;
}

body.is-not-logged-in [data-role='login'] {
    display: none;
}

body.is-not-admin [data-role='admin'] {
    display: none;
}

.widget {
    position: relative;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 5px;
}

.widget .widget-icons .icon[data-id="content"] {
    display: none;
}

.widget[data-area='options'] .widget-icons .icon[data-id="content"],
.widget[data-area='layout'] .widget-icons .icon[data-id="content"],
.widget[data-area='readme'] .widget-icons .icon[data-id="content"] {
    display: inline;
}

.widget .widget-padding {
    padding: 10px;
}

.widget .widget-content h2 {
    font-size: 16px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding-bottom: 5px;
    margin-bottom: 8px;
}

.widget .widget-title {
    cursor: pointer;
    color: white;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding-bottom: 10px;
    margin-bottom: 10px;
    padding-right: 90px;
}

.widget .widget-title .glyphicon {
    margin-right: 10px;
}

.widget .widget-readme .github-info {
    text-align: right;
    font-size: 80%;
}

.widget .widget-icons {
    position: absolute;
    right: 10px;
    top: 10px;
    height: 24px;
    font-size: 24px;
    color: white;
}

.widget .widget-icons .icon {
    opacity: 0.5;
    cursor: pointer;
    transition: 0.4s;
    display: inline-block;
}

.widget .widget-readme h1,
.widget .widget-readme h2 {
    margin-bottom: 20px;
    margin-top: 20px;
}

.widget .widget-readme code {
    overflow: auto;
    white-space: pre;
}

.widget .widget-icons .icon:hover {
    opacity: 1;
    transform: rotate(10deg);
}

.grid-row .row .grid-column {
    background: rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    transition: 0.3s;
}

.collapsable-trigger {
    cursor: pointer;
}

.collapsable-trigger::before {
    content: "\e114";
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    font-size: 80%;
    padding-right: 10px;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    transition: 0.2s;
}

.collapsable-trigger.collapsed::before {
    top: -6px;
    left: -3px;
    transform: rotate(-90deg);
}

.collapsable-target.collapsed {
    display: none;
}
