.widget-console .console {
    max-height: 300px;
    font-size: 90%;
    white-space: pre-wrap;
    overflow: auto;
    margin-bottom: 10px;
}

.widget-console .console .message {
    padding: 5px;
}

.widget-console .console .message .text {
    margin-top: 5px;
}

.widget-console .console .message.collapsed .text {
    display: none;
}

.widget-console .console .message .header {
    cursor: pointer;
    color: #999;
    font-size: 90%;
    display: inline-block;
    padding: 3px 10px 3px 10px;
    border-radius: 3px;
    line-height: 1.3;
    background: rgba(0, 0, 0, 0.3);
    opacity:0.7;
    transition: 0.4s;
}

.widget-console .console .message:not(.logtype-4) .glyphicon-info-sign{
    display: none;
}

.widget-console .console .message .header:hover{
    opacity:1;
}

.widget-console .console .message .header .glyphicon{
    padding-right: 10px;
}

.widget-console .console .message .header .glyphicon-user{
    padding-left: 10px;
}

.widget-console .console .message.collapsed .header .glyphicon-chevron-down{
    display: none;
}

.widget-console .console .message:not(.collapsed) .header .glyphicon-chevron-right{
    display: none;
}

.widget-console .console .message .header .username {
    color: #00daff;
}

.widget-console .console .message:nth-child(2n) {
    background: rgba(0, 0, 0, 0.1);
    border-radius: 3px;
}

.widget-console .message .match {
    background: white;
    color: #2ac7d2;
    border-radius: 3px;
}

.widget-console .cmd-select .bootstrap-select .option .glyphicon {
    font-size: 80%;
    padding-right: 10px;
}

.widget-console .autoscroll{
    text-align: right;
    padding-top: 5px;
    padding-bottom: 5px;
}