.widget-restart {
    background: #00FFFD;
    background: radial-gradient(ellipse at center, #00FFFD 0%, #008692 100%);
    transition: 0.4s;
}

.widget-restart .widget-content {
    text-align: center;
    font-size: 70px;
    color: white;
    height: 90px;
    transition: 0.4s;
    cursor: pointer;
    overflow: hidden;
}

.widget-restart .widget-content:hover {
    font-size: 80px;
}